@media (min-width: 600px) {
    body {background-color: tomato;}


    .favorites-article,
#favorites article.favorites-article{
    overflow-y: hidden;
    white-space: nowrap;
    height: 42vh;
    background-color: var(--primary-color);
    width: 100vw;
}
}